* {
	margin: 0;
	padding: 0;
}

.box2{
	width: 1000px;
	margin: 0px auto;
	margin-top: 50px;
}
.box2 img {
	width: 320px;
	height: 180px;
	border: 5px solid azure;
	box-shadow: -10px -10px 10px black;
	transition: all 0.3s linear;
}

.box2 img:nth-child(odd) {
	transform: rotate(20deg);
}

.box2 img:nth-child(even) {
	transform: rotate(-20deg);
}

.box2 img:hover {
	transform: scale(1.6);
	position: relative;
	z-index: 2;
}
